*{
	margin: 0;
	padding: 0;
}
body{
	background: lightblue;
	overflow: hidden;
}
#top-up{
	text-align: center;
	font-size: 45px;
	color: rgb(15,15,15);
	font-family: sans-serif;
	border-bottom: 3px solid powderblue;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.10),5px 5px 5px rgba(0, 0, 0,0.20);


}
.top-mid img{
	width: 100%;
}
.top-mid{
	text-align: center;

	font-size: 30px;
	color: rgb(18,18,18);
	font-family: sans-serif;
	text-shadow: 3px 2px rgba(0, 0, 0, 0.30);



}
#ip{
	margin-top: 9px;
	text-shadow: 6px 4px rgba(0, 0, 0, 0.30);
	font-size: 99%;


}
h2{
	background: linear-gradient(to top,lightblue,lightblue);
	border: 1px lightblue;
	border-radius: 18px;

}
